<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/_header.css">
    <title>home</title>
</head>
<body>
    <div>
        <%if(locals.user){%>
            <div class="nav-bar-profile">
            <div class="nav-profile">
                <a href="/user/profile/<%=user.id%>"><%=user.name%></a>
                
            <div>
                <a href="/user/sign-out">sign-out</a>
            </div>
            </div>
        <%}else{%>
            <div class="nav-bar-login">
            <div class="nav-sign-in">
                <a href="/user/sign-in">sign-in</a>
            </div>
            <div class="nav-sign-up">
                <a href="/user/sign-up">sign-up</a>
            </div>
           </div>

            <%}%>
        </div>
</body>
</html>