<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
     
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="main">
        <div class="login-div">
               <div class="login-div-1">
                   <strong>Sign in 
                </div>
                <div class="login-div-2">
                    <form action="/user/create-session" method="post">
                        <div class="login-email">
                            <input type="text" placeholder=" enter email" name="email" required>
                        </div> 
                        <div class="login-password">
                            <input type="text" placeholder=" enter password" name="password" required>
                        </div>
                        <div class="login-submit"><button>Login</div>
                    </form>
    </div>
    <div class="login-fail">
        <div class="login-fail-1">
            Don't have an account?<a href="#"> Sign up</a>
        </div>    
   </div>
   
</body>
</html>